@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

@import controllers.uMan.routes

<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/uMan/favicon.png")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootswatch-superhero/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/uMan/main.css")">
    <script data-main="@routes.Assets.versioned("javascripts/main-uMan.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")" type="text/javascript"></script>
		@styles
	</head>R
	<body>
		<div class="container">
			@content
		</div>
		@scripts
	</body>
</html>
